body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: pink;
    padding: 20px;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    margin: 20px 0;
    padding: 10px;
    background-color: skyblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

